<ion-view view-title="我的会诊单">
    <ion-nav-buttons side="left">
        <a menu-toggle="left" class="button button-icon icon ion-ios-close-empty" href="#home"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon icon ion-ios-telephone" href="javascript:;"></a>
    </ion-nav-buttons>

    <ion-content class="my_bg">
        <div class="my_list">
            <div class="my_item">
                <div class="title">我需要的患者</div>
                <div class="cont">
                    <a><i>-</i>工体北门</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                </div>
            </div>
            <div class="my_item">
                <div class="title">我需要的患者</div>
                <div class="cont">
                    <a><i>-</i>工体北门</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                </div>
            </div>
            <div class="my_item">
                <div class="title">我需要的患者</div>
                <div class="cont">
                    <a><i>-</i>工体北门</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                </div>
            </div>
            <div class="my_item">
                <div class="title">我需要的患者</div>
                <div class="cont">
                    <a><i>-</i>工体北门</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>工体北</a>
                    <a><i>-</i>私营</a>
                    <a><i>-</i>设备先进的</a>
                    <a><i>-</i>私营</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>